$primary-color: black;
$second-color: white;
$background-color: #e3eeef;
$second-background-color: #3cca98;
$third-background-color: #cce2e3;

body {
    margin: 0;
    color: $primary-color;
    background-color: $background-color;
    font-family: "Open Sans", sans-serif;
  }

h1 {
  font-size: 2.5rem;
  color: $second-color;
  margin: 0;
  opacity: 0;
}  

h2 {
  margin:3rem 0rem 3rem 4rem;
  font-size: 2rem;
}

p {
  font-size: 1.3rem;
  color:#7A7A7A
}

ul {
  list-style:none;
}

li {
  a {
    text-decoration:none;
    color:white;
  }
}


/* Media Queries pour Tablette 768px max */
@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    margin-left: 2rem;
    font-size: 1.3rem;
  }  

  p {
    font-size: 1rem;
  }  
}


/* Media Queries pour Mobile 425px  max*/
@media (max-width: 425px) {
   h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 1rem;
  }  

  h3 {
    font-size:0.9rem;
  }

  p {
    font-size: 0.7rem;
  }  
}